<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>426613210580-tft0kggjopq36t5mb3ji94umtquglaiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426613210580-tft0kggjopq36t5mb3ji94umtquglaiu</string>
	<key>API_KEY</key>
	<string>AIzaSyCRl0Eq3LdRLRi_MiwP9uCbNQSZqIaC0oY</string>
	<key>GCM_SENDER_ID</key>
	<string>426613210580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nullSA.manejaTusCuentas</string>
	<key>PROJECT_ID</key>
	<string>manejatuscuentas</string>
	<key>STORAGE_BUCKET</key>
	<string>manejatuscuentas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426613210580:ios:98e9bd78c81da22fe36a41</string>
</dict>
</plist>